<!-- <div class="popup-wrapper">
  <div class="popup-header">
    <div class="title">{{title}}</div>
    <button class="close-btn" (click)="output.emit()">X</button>
  </div>
  <div class="popup-body">
   

  </div>
  <div class="popup-footer">
    <button class="done-btn" *ngIf="currentStep !== CreateTodoSteps.Label" (click)="nextStep()">Next</button>
    <button class="done-btn" *ngIf="currentStep !== CreateTodoSteps.Title" (click)="prevStep()">Back</button>
    <button class="done-btn" *ngIf="currentStep === CreateTodoSteps.Label" (click)="createTodo()">Create</button>
  </div>
</div> -->

<div class="popup-wrapper">
  <div class="popup-header">
    <h2 mat-dialog-title>
      {{data.title ? data.title:'Title'}}</h2>
    <button mat-icon-button mat-dialog-close class="close-btn" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="popup-body" mat-dialog-content>
    <div [ngSwitch]="currentStep">
      <ng-container *ngSwitchCase="CreateTodoSteps.Title">
        <div class="title">
          <input #newTodoTitle type="text" placeholder="Type issue title" aria-label="Test" required>
        </div>
        <div class="description">
          <textarea #newTodoDescription placeholder="Type issue description" name="description"
            id="description"></textarea>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="CreateTodoSteps.Label">
        <label-selection></label-selection>
      </ng-container>
    </div>
  </div>
</div>





<div mat-dialog-actions>

  <button mat-button cdkFocusInitial color="primary" class="done-btn" *ngIf="currentStep !== CreateTodoSteps.Label"
    (click)="nextStep()">Next</button>
  <button mat-button color="warn" class="done-btn" *ngIf="currentStep !== CreateTodoSteps.Title"
    (click)="prevStep()">Back</button>
  <button mat-button color="accent" class="done-btn" *ngIf="currentStep === CreateTodoSteps.Label"
    (click)="createTodo()">Create</button>
</div>